Django>=4.2
djangorestframework
django-cors-headers
PyJWT
requests
pypdf
langchain
langchain-pinecone
langchain-community
langchain-openai
langgraph
pinecone
python-dotenv
gunicorn
whitenoise
psycopg2-binary
dj-database-url
